.main {
  background-color: azure;
}

.fo {
    text-align: center;
    font-family: Ubuntu;
    color: red;
  
  } 
  
  .iu {
    font: bold;
    position: relative;
    top: 25px;
  } 
  
  .gf {
    position: absolute;
    align-items: center;
    
  } 
ul {
  list-style-type: none;
  background-color: #f1f1f1;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
